<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>budnode</title>

  <link rel="stylesheet" type="text/css" href="css/login.css">

</head>
<body>

  <div class="wrapper form-success">
    <h1 style="text-align: center;margin-top: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;呀！出错了！</h1>
    <div class="container">
      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre>
      <!--<pre><%= message %></pre>-->
    </div>

    <!--- 冒泡样式 --->
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <!-- /.冒泡样式 -->

  </div>

</body>
</html>