<!DOCTYPE html>
<html  lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>美福尔装饰——墙纸</title>
    
	<!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
    <link href="assets/fancybox/source/jquery.fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/gallery.css" />
    <link href="assets/fancybox/source/helpers/jquery.fancybox-thumbs.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/style1.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet" />
    <link href="assets/jquery-notifyjs/styles/metro/notify-metro.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <!--[if IE 7]>
	<link rel="stylesheet" href="assets/font-awesome/css/font-awesome-ie7.min.css">
	<![endif]-->

	  <script src="js/jquery.min.js"></script>
    <style type="text/css">
.header-carousal {
    background-color: #2c1308;
    background-image: url("img/bg-header.png");
    background-position: center bottom;
    background-repeat: repeat-x;
    color: #fff;
    height: 100%;
    position: relative;
    box-shadow: 0 1px 2px rgba(0,0,0,.25);
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);
}

.header-carousal .owl-carousel,
.header-carousal .owl-carousel .owl-wrapper,
.header-carousal .owl-carousel .owl-wrapper-outer,
.header-carousal .owl-carousel .owl-wrapper .owl-item {
    height: 100%;
}
.header-carousal .owl-carousel .owl-wrapper .owl-item .item{
	background-size: 100% 100%;
    height: 100%;
    padding: 20px;
}

.header-carousal .owl-carousel .owl-wrapper .owl-item .item p{
	color: rgba(255,255,255,.6);
    margin-top: 20px;
}
.header-carousal .owl-buttons {
	padding: 0 10px;
	top: 50%;
}

.header-carousal .owl-buttons .owl-next {
    margin-right: 10px;
}

#header-wrapper {
    background-color: #2c1308;
    background-image: url("img/bg-header.png");
    background-position: center bottom;
    background-repeat: repeat-x;
    border-bottom: 1px solid #402519;
    height: 200px;
    width: 100%;
    padding: 0 80px;
}

.white-bg {
    background-image: url("img/bg-menu.png");
    background-position: center top;
    background-repeat: repeat-x;
}

.horizontal-menu .navbar-nav > li.active > a {
    background-color: #B02905;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.float-area {
	position: fixed;
	right: 15px;
	opacity: 0.7;
	cursor: pointer;
}
.arrow-pro.right:after {
    top: 0;
}

</style>
</head>

<body class="full-width">
	<section id="container">
	<section id="header-wrapper">
		<div class="header-carousal">
	        <div id="owl-header" class="owl-carousel owl-theme">
	            <div class="item clearfix"style="background-image: url('img/logo.jpg');">
	                <h1>酷尚儿童牛仔裤设计工作室</h1>
	                <p>专注于儿童牛仔裤设计</p>
	            </div>
	            <div class="item clearfix"style="background-image: url('img/logo.jpg');">
	                <h1>酷尚儿童牛仔裤设计工作室</h1>
	                <p>设计一流，服务一流</p>
	            </div>
	            <div class="item clearfix"style="background-image: url('img/logo.jpg');">
	                <h1>酷尚儿童牛仔裤设计工作室</h1>
	                <p>专注打造舒适时尚的牛仔裤</p>
	            </div>
	            <div class="item clearfix"style="background-image: url('img/logo.jpg');">
	                <h1>酷尚儿童牛仔裤设计工作室</h1>
	                <p>追求时尚，追求酷帅</p>
	            </div>
	        </div>
	    </div>
    </section>
    <section id="header">
		<header class="navbar-wrapper header white-bg">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                  <span class="icon-bar"></span>
	                  <span class="icon-bar"></span>
	                  <span class="icon-bar"></span>
	              </button>
	              <div class="horizontal-menu navbar-collapse collapse ">
	                  <ul class="nav navbar-nav">
	                      <li class="active"><a href="javascript:;" onclick="loadMainPage('pages/home.html');"><i class="icon-home"></i>首页</a></li>
	                      <li><a href="javascript:;" onclick="loadMainPage('pages/near.html');"><i class="icon-leaf"></i>产品展示</a></li>
						  <% if (user) { %>
	                      <li><a href="javascript:;"><i class="icon-male"></i>积分换购</a></li>
						  <% } %>
	                  </ul>
	              </div>
	              <div class="top-nav ">
	                  <ul class="nav pull-right top-menu" style="margin-right: 60px;">
	                      <!-- user login dropdown start-->

						  <% if (!user) { %>
						  <li>
							  <a data-toggle="modal" href="#login-modal" style="border: none !important;" onclick="javascript:$('#login-message').hide();"><i class="icon-signin" style="margin-right: 10px;"></i>登录</a>
						  </li>
						  <% } else { %>
						  <li class="dropdown">
							  <a href="javascript:;" style="border: none !important;" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
								  <span class="username">欢迎您: <strong><%= user.name%> </strong>！</span>
								  <b class="caret"></b>
							  </a>
							  <ul class="dropdown-menu extended inbox">
								  <div class="log-arrow-up notify-arrow-red"></div>
								  <% if (user.role == 1 || user.role == 2) { %>
								  <li><a href="/index"><i class="icon-cog" style="padding: 0 10px"></i>进入管理</a></li>
								  <% } else { %>
								  <li><a href="#pwd-modal" data-toggle="modal" onclick="javascript:$('#pwd-message').hide();"><i class="icon-cog" style="padding: 0 10px"></i>修改密码</a></li>
								  <% } %>
								  <li><a href="/logout" ><i class="icon-key" style="padding: 0 10px"></i>退出</a></li>
							  </ul>
						  </li>
						  <% } %>
	                      <!-- user login dropdown end -->
	                  </ul>
	              </div>
	
	          </div>
	    </header>
	      <!--main content start-->
	      <section id="main-content">
	      
	      </section>
	      <!--main content end-->
	      <!--footer start-->
	      <footer class="site-footer">
	          <div class="text-center">
	              2016 &copy; 成都美福尔装饰材料有限公司.
	          </div>
	      </footer>
	      <!--footer end-->
    </section>

  </section>

  <!-- 右侧悬浮框————留言 -->
  <div class="float-area" style="bottom: 65px;" title="留言">
    <div class="activity">
      <a href="#" onclick="checkLogin()">
        <span style="border-radius: 0;background-color: #FFF;color:#999;font-size:25px;">
          <i class="icon-envelope"></i>
        </span>
      </a>
    </div>
  </div>
  <!-- 留言 Modal -->
  <div id="message-modal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          <h4 class="modal-title">留言板</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">               
              <textarea id="message-info" rows="8" class="form-control" placeholder="谢谢您的支持，我们会尽快回复您的留言"></textarea>
            </div>
            <button type="button" class="btn btn-default" onclick="submitMessage()">发送留言</button>
          </form>
        </div>
      </div>
    </div>            
  </div>

  <!-- 右侧悬浮框————回到顶部  -->
  <div class="float-area" style="bottom: 15px;" title＝"回到顶部">
    <div class="activity">
      <a href="#container">
        <span style="border-radius: 0;background-color: #FFF;color:#999;font-size:25px;">
          <i class="icon-chevron-up"></i>
        </span>
      </a>
    </div>
  </div>


	<!-- Modal -->
	<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="pwd-modal" class="modal fade">
		<div class="modal-dialog" style="width: 400px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" style="text-align: center">美福尔欢迎您</h2>
				</div>
				<form id="password_form">
					<div class="modal-body">

						<div class="form-group">
							<div id="pwd-message" class="alert alert-warning" hidden></div>
						</div>
						<div class="form-group">
							<input type="password" id="oldPwd" name="oldPwd" class="form-control" placeholder="旧密码" maxlength="32" tabindex="1" required/>
						</div>
						<div class="form-group">
							<input id="newPwd" name="newPwd" type="password" class="form-control" placeholder="新密码" autofocus required>
						</div>
						<div class="form-group" style="margin-bottom: 0;">
							<input  id="surePwd" type="password" class="form-control" placeholder="确认密码" required>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-lg btn-primary btn-block" type="button" onclick="changePwd();">确认修改</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- modal -->

	<!-- Modal -->
	<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="login-modal" class="modal fade">
		<div class="modal-dialog" style="width: 400px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" style="text-align: center">美福尔欢迎您</h2>
				</div>
				<form method="post" action="/login">
					<div class="modal-body">

						<div class="form-group">
							<div id="login-message" class="alert alert-warning" hidden></div>
						</div>
						<div class="form-group">
							<input id="username" type="text" class="form-control" placeholder="用户名" autofocus required>
						</div>
						<div class="form-group" style="margin-bottom: 0;">
							<input id="pwd" type="password" class="form-control" placeholder="密码" required>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-lg btn-primary btn-block" type="button" onclick="login();">登录</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- modal -->
	
	<!-- js placed at the end of the document so the pages load faster -->
	<script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/jquery.sparkline.js"></script>
    <script src="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="js/owl.carousel.js" ></script>
    <script src="js/jquery.customSelect.min.js" ></script>
    <script src="js/respond.min.js" ></script>
	<script src="assets/fancybox/source/jquery.fancybox.js"></script>
	<script src="assets/fancybox/source/jquery.fancybox.pack.js"></script>
	<script src="assets/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
    <script src="js/jquery.dcjqaccordion.2.7.js"></script>

    <!--common script for all pages-->
    <script src="js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="js/sparkline-chart.js"></script>
    <script src="js/easy-pie-chart.js"></script>
    <script src="js/count.js"></script>
    
    <!--notify script for all page-->
	<script src="assets/jquery-notifyjs/notify-combined.js" ></script>
	<script src="assets/jquery-notifyjs/styles/metro/notify-metro.js"></script>
    <script src="assets/jquery-notifyjs/notifications.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/toucheffects.js"></script>
    
    <script src="assets/pin/jquery.pin.min.js"></script>
	<script src="js/common.js"></script>
	<script src="js/jquery-form.js"></script>
	<script type="text/javascript">
		
		function loadMainPage(v) {
			$('#main-content').load(v);
		}

		$(function() {

			$('#main-content').css({
				'min-height' : ($(window).height() - 288) + 'px'
			});

			$('header').pin({
				containerSelector : '#header'
			});

			$("#owl-header").owlCarousel({
				navigation : true,
				slideSpeed : 300,
				paginationSpeed : 400,
				singleItem : true,
				autoPlay : true
			});

			loadMainPage('pages/home.html');

			$('header .horizontal-menu ul li a').on(
					'click',
					function() {
						$('header .horizontal-menu ul').find('li').removeClass(
								'active');
						$(this).parents('li').addClass('active');
					})
		});

		/**
		 * 登录
         */
		function login(){
			var username = $('#username').val();
			var pwd = $('#pwd').val();
			if(!username){
				$('#login-message').text('请输入用户名！').show();
				return false;
			}
			if(!pwd){
				$('#login-message').text('请输入密码！').show();
				return false;
			}
			$('#login-message').hide();

			$.post("/login",{username:username,pwd:pwd},function(res){
				if(res.code == -1){
					$('#login-message').text('用户名或密码不正确！').show();
				}else{
					$('#login-message').hide();
					location.reload();
				}
			});
		}

		/**
		 * 修改密码
		 */
		function changePwd(){
			var oldPassword = $('#oldPwd').val();
			var newPassword = $('#newPwd').val();
			var newPassword2 = $('#surePwd').val();
			if (isempty(oldPassword)) {
				$('#pwd-message').text('请输入旧密码').show();
				return false;
			}
			if (isempty(newPassword)) {
				$('#pwd-message').text("请输入新密码！").show();
				return false;
			}
			if (isempty(newPassword2)) {
				$('#pwd-message').text("请确认新密码！").show();
				return false;
			}
			if (newPassword != newPassword2) {
				$('#pwd-message').text("两次输入新密码不同！").show();
				return false;
			}
			if(newPassword == oldPassword){
				$('#pwd-message').text("新密码与原始密码不能相同！").show();
				return false;
			}
			$('#pwd-message').hide();

			$('#password_form').ajaxSubmit({
				type : 'post',
				url : '/account',
				dataType: "json",
				success : function(msg) {
					if (msg.code == 1) {
						$('#pwd-message').text("密码修改成功，请重新登录").show();
						$('#oldPwd').val('');
						$('#newPwd').val('');
						$('#surePwd').val('');
						window.location.href="/logout";
					} else {
						$('#pwd-message').text(msg.msg).show();
					}
				}
			});
		}

		/**
		 * 留言前校验是否登录
		 */
		 function checkLogin(){
		 	var user = "<%= user%>";
		 	if (typeof(user) == 'undefined') {
	            yeshidenotify('error', 'top right', '请先登录', '提示将在2秒内关闭', 2000);
	            $('#login-modal').modal('show');
	        } else {
	        	$('#message-modal').modal('show');
	        }
		 }

		/**
		 * 提交留言
		 */
		 function submitMessage(){
	        var message = $('#message-info').val().trim();
		 	if(!message){
		 		yeshidenotify('error', 'top right', '您的留言信息为空哟～', '提示将在2秒内关闭', 2000);
		 		return;
		 	}
		 	$.post("/api/messages",{name: "<%= user.name%>", message: message},function(res){
				if(res.code == -1){
					yeshidenotify('error', 'top right', '留言提交失败，请稍等再试', '提示将在2秒内关闭', 2000);
				}else{
					yeshidenotify('error', 'top right', '留言提交成功，我们会尽快回复您，请耐心等待，谢谢！', '提示将在2秒内关闭', 2000);
					$('#message-modal').modal('hide');
				}
			});
		 }
	</script>
</body>
</html>
