<style>
    .state-overview .symbol {
        padding: 15px;
    }
    .state-overview .value {
        padding-top: 13px;
    }
    .panel-heading h3 {
        font-size: 16px;
    }
    .state-overview .value h1 {
        color: #57c8f2;
    }
    .alert {
        padding: 17px 15px;
    }
    .product-list .panel {
        margin-bottom: 0;
    }
    .adtocart {
        background: #ff6c60;
        border: 3px solid #fff;
        bottom: -20px;
        height: 40px;
        left: 40%;
        width: 40px;
    }
    a.adtocart:hover,
    a.adtocart:focus {
        background: #ff6c60;
    }
    .text-grey {
        background-color: #ccc;
    }
    a.adtocart.text-grey:hover,
    a.adtocart.text-grey:focus {
        background-color: #ccc;
    }
</style>

<script id="order-template" type="text/x-jsrender">
    <tr>
        <td>{{:name}}</td>
        <td style="text-align: right;"><span class="text-danger">-{{:credit}}</span></td>
        <td style="text-align: center;">
            {{if status==1}}
            <span class="text-warning">待处理</span>
            {{else}}
            <span class="text-success">已发货</span>
            {{/if}}
        </td>
        <td style="text-align: center;">{{:buy_at}}</td>
    </tr>
</script>

<script id="gift-template" type="text/x-jsrender">
    <div class="col-md-3">
        <section class="panel">
            <div class="pro-img-box">
                <img src="{{:url}}">
                {{if state}}
                <a href="javascript:;" class="adtocart" title="兑换" onclick="exchange('{{:name}}', '{{:credit}}')">
                    <i class="icon-refresh"></i>
                </a>
                {{else}}
                <a href="javascript:;" class="adtocart text-grey popovers" data-original-title="喜欢 {{:name}} 吗？" data-content="您还差 【{{:diff}}】 个积分就能带走它啦！" data-placement="bottom" data-trigger="hover">
                    <i class="icon-refresh"></i>
                </a>
                {{/if}}
            </div>
            <div class="panel-body text-center">
                <h4>{{:name}}</h4>
                <p class="price">{{:credit}} 积分</p>
            </div>
        </section>
    </div>
</script>

<section class="wrapper">
    <div class="row">
        <div class="col-md-3">
            <section class="panel state-overview">
                <div class="symbol blue">
                    <i class="icon-ticket"></i>
                </div>
                <div class="value">
                    <h1 id="myCredit">0</h1>
                    <p>我的积分</p>
                </div>
            </section>
            <section class="panel">
                <div class="panel-body">
                    <h5><strong>活动详情：</strong></h5>
                    <p style="text-indent: 2em;">为了答谢美福尔的核心经销商，美福尔为部分核心经销商开展积分送礼品活动，每订货一元钱积一分，自2016年4月22日至2016年12月31日止 核心经销商（拥有美福尔账户）可以在美福尔官网根据自身积分兑换相应礼品，成功兑换后美福尔将自动扣除相应礼品对应的积分，活动时间结束后积分自动清零。</p>
                    <h5><strong>权责声明：</strong></h5>
                    <p style="text-indent: 2em;">此活动只针对部分核心经销商开展，享受活动的经销商应该对美福尔此次活动进行保密，如美福尔发现核心经销商将此次活动泄露给任何其他客户或者任何同行，立即取消该经销商参加活动的权利，拥有的积分也同时清零，最终解释权规高新区美福尔装饰材料经营部。</p>
                </div>
            </section>
            <section class="panel">
                <div class="panel-body">
                    <h5>
                        <strong>我的兑换记录：</strong>
                    </h5>
                    <table id="exchange-table" class="table table-striped table-advance table-hover" style="margin-bottom: 0;">
                        <thead>
                            <tr>
                                <th>礼品</th>
                                <th style="text-align: right;">积分</th>
                                <th style="text-align: center;">状态</th>
                                <th style="text-align: center;">兑换时间</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <a href="javascript:;" class="pull-right" onclick="showMyOrders()">更多...</a>
                </div>
            </section>
        </div>
        <div class="col-md-9">
            <div class="alert alert-info alert-block fade in">
                <h4>
                    <i class="icon-coffee"></i>
                    感谢您的关注！
                </h4>
                <p>现在没有积分兑换活动哦，请您多多留意网站活动信息，期待下一波福利吧……</p>
            </div>

            <section id="gifts"  class="panel">
                <div class="panel-body">
                    <div class="row product-list">
                        <!-- 礼品列表 -->
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div id="my-orders" class="row">
        <div class="col-lg-12">
            <div class="panel">
                <header class="panel-heading" style="padding-top: 15px; border-bottom-width: 0;">我的兑换记录
                    <button class="close close-sm" type="button" title="返回" onclick="showGifts()">
                        <i class="icon-reply"></i>
                    </button>
                </header>
                <div class="panel-body" style="padding-top: 0;">
                    <div class="adv-table">
                        <table id="orders-table" class="display table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>礼品名称</th>
                                <th>消耗积分</th>
                                <th>快递公司</th>
                                <th>快递单号</th>
                                <th>其他送货方式</th>
                                <th>兑换时间</th>
                                <th>处理时间</th>
                                <th style="text-align: center;">状态</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    //页面加载完成后执行
    $(function() {
        $('#myCredit').text(user.credit);
        getMyOrders();
        initOrdersTabel();
        getGifts();
    });

    //初始化兑换记录表格
    function getMyOrders() {
        $.getJSON('api/orders/mine', {
            start: 0,
            row: 8,
            uid: user.uid
        }, function(rm) {
            if (rm.code == 1) {
                var data = rm.result.data;
                if (data.length) {
                    for (var i=0; i<data.length; i++) {
                        data[i].buy_at = moment(data[i].buy_at).format('YYYY-MM-DD');
                    }
                    var orderTemplate = $.templates('#order-template');
                    var htmlOutput = orderTemplate.render(data);
                    $('#exchange-table tbody').html(htmlOutput);
                }
            }
        });
    }

    //展示兑换记录
    function showMyOrders() {
        $('#my-orders').prev().hide();
        $('#my-orders').show();
    }

    //初始化客户订单表格
    function initOrdersTabel() {
        $('#orders-table').dataTable().fnDestroy();
        $('#orders-table').dataTable({
            'bProcessing': false,
            'bServerSide': true,
            'sAjaxSource': 'api/orders/mine',
            'fnServerData': retrieveData,
            'bDestroy': true,
            'bRetrieve': true,
            'sAjaxDataProp': 'data',
            'iDisplayLength': 10,
            'bFilter': false,
            'bLengthChange': false,
            'bAutoWidth': false,
            'bSort': false,
            'aoColumns': [{
                'mData': 'name'
            }, {
                'mData': 'credit'
            }, {
                'mData': 'express',
                'mRender': expressRender
            }, {
                'mData': 'express_no',
                'mRender': expressRender
            }, {
                'mData': 'other',
                'mRender': expressRender
            }, {
                'mData': 'buy_at',
                'mRender': dateRender
            }, {
                'mData': 'op_at',
                'mRender': dateRender
            }, {
                'mData': 'status',
                'mRender': statusRender,
                'fnCreatedCell': function(nTd) {
                    $(nTd).css('text-align', 'center');
                }
            }]
        });
        $('#my-orders').hide();
    }

    //渲染快递信息列
    function expressRender(data) {
        return data ? data : '--';
    }

    //渲染时间列
    function dateRender(data) {
        return data ? moment(data).format('YYYY-MM-DD HH:mm:ss') : '--';
    }

    //渲染状态列
    function statusRender(data, type, row) {
        if (data == 1) {
            return '<span class="badge bg-warning">待处理</span>';
        } else if (data == 2) {
            return '<span class="badge bg-success">已发货</span>';
        }
    }

    //异步获取table数据
    function retrieveData(sSource, aoData, fnCallback) {
        var row = 10;
        var start = 0;
        $.each(eval(aoData), function(i, field) {
            if (field.name == 'iDisplayStart') {
                start = field.value;
            }
            if (field.name == 'iDisplayLength') {
                row = field.value;
            }
        });

        $.getJSON(sSource, {
            start: start,
            row: row,
            uid: user.uid
        }, function(rm) {
            if (rm.code == 1) {
                var data = rm.result;
                if (!data.data) {
                    data.data = [];
                }
                data.iTotalRecords = rm.result.total ? rm.result.total:0;
                data.iTotalDisplayRecords = rm.result.total ? rm.result.total:0;
                fnCallback(data);
            } else {
                yeshidenotify('error', 'top right', '查询失败！', '提示将在2秒内关闭', 2000);
            }
        });
    }

    //返回礼品兑换界面
    function showGifts() {
        $('#my-orders').hide();
        $('#my-orders').prev().show();
    }

    //获取活动礼品列表
    function getGifts() {
        $.getJSON('api/activities/active', {credit: user.credit}, function(rm) {
            if (rm.code == 1) {
                if (rm.result.goods) {
                    $('.alert').hide();
                    $('#gifts').show();
                    var gifts = rm.result.goods;
                    var giftTemplate = $.templates('#gift-template');
                    var htmlOutput = giftTemplate.render(gifts);
                    $('#gifts .product-list').html(htmlOutput);
                    $('.popovers').popover();
                } else {
                    $('.alert').show();
                    $('#gifts').hide();
                }
            }
        });
    }

    //兑换礼品
    function exchange(giftName, giftCredit) {
        confirm('cool', 'middle center', '提示！', '确定兑换该礼品？兑换后将无法取消！', function() {
            $.post('api/orders', {
                uid: user.uid,
                name: giftName,
                credit: giftCredit
            }, function(rm) {
                if (rm.code == 1 ) {
                    yeshidenotify('success', 'top right', '兑换成功！我们将尽快为您发货。', '提示将在2秒内关闭', 2000);
                    var newCredit = rm.result;
                    user.credit = newCredit;
                    $('#myCredit').text(newCredit);
                    getMyOrders();
                    initOrdersTabel();
                    getGifts();
                }
            }, 'json');
        });
    }
</script>
