.navbar-fixed-top, .navbar-fixed-bottom {
    position: inherit;
    z-index: inherit;
}

 .navbar-inverse {
    background-color: #17B09B;
    border-color: #16a085;
    color: #fff;
} 
.navbar-header {
    float: left;
    width: 90%;
    font-size: 30px;
    font-weight: bolder;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.index-input {
	border-top: none;
	transition: border linear .2s, box-shadow linear .2s;
	display: inline-block;
	height: 28px;
	padding: 4px 6px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	vertical-align: middle;
	min-height: 18px;
	width: 100% !important;
	color: #333 !important;
	border: none !important;
	border-bottom: solid thin #ccc !important;
	box-shadow: none !important;
	border-radius: 0 !important;
	outline: none !important;
}

.bs-example:after {
	color: #959595;
	content: "form-data:";
	font-size: 12px;
	font-weight: 700;
	left: 15px;
	letter-spacing: 1px;
	position: absolute;
	text-transform: uppercase;
	top: 15px;
}

.bs-example {
	padding: 45px 0px 15px;
}

.key {
	padding-left: 0px;
}

.value {
	padding-right: 0px;
}

.btn-primary {
    background-color: #37bc9b;
    border-color: #37bc9b;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #29af8e;
    border-color: #29af8e;
}

#popup_panel input {
    min-width: 100px;
    text-align: center;
    width: auto !important;
}

.btn-group > .btn-group:last-child > .btn:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.btn {
    font-size: 13px;
    padding: 4px 12px;
}
.bootstrap-select .btn {
    padding: 5px 12px 3px;
    border-radius: 3px;
    font-size: 14px;
}
.form-control {
    box-shadow: unset;
}
.bootstrap-select.btn-group .btn .filter-option {
	color: #555;
    font-size: 12px;
}
.btn-group.open .dropdown-toggle {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #fff;
}
.icon-warning {
	color: #5bc0de;
}
.icon-danger {
	color: #d9534f;
}
